/* font-family: 'Abril Fatface', serif;
font-family: 'Judson', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Hijrnotes PERSONAL USE ONLY', cursive; */

* {
  font-family: 'Montserrat', sans-serif;
}

nav,
form {
  text-transform: uppercase;
}
