/* font-family: 'Montserrat', sans-serif;
font-family: 'Rock Salt', cursive; */

* {
  font-family: 'Montserrat', sans-serif;
}

Button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

Button.navbar-toggler {
  border-color: rgb(255, 102, 203);
}

nav img {
  height: 2.5rem;
}

.background-wrapper {
  position: fixed;
  top: 0px;
  height: 100%;
  z-index: -1;
}

.bg-img {
  position: relative;
  left: -31%;
  height: 100vmax;
}

.input-container div {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forms input {
  color: #aab0b5;
  border: none;
  border-radius: 0.3rem;
  padding: 2% 4%;
}

footer img {
  width: 1.8rem;
  padding-bottom: 5px;
}
